{% extends 'base.html'%}
{% block content %}

<div class="row">
    <form class="col s12" method="POST" action="{% url 'new' %}">
    {% csrf_token %}
        <div class="row">
            <div class="input-field col s3">
                <input id="name" type="text" class="validate" data-length="">
                <label for="name">Dog Name</label>
            </div>
            <div class="input-field col s3">
                <input id="breed" type="text" class="validate" data-length="">
                <label for="breed">Breed</label>
            </div>
            <div class="input-field col s3">
                <input id="age" type="text" class="validate">
                <label for="age">Age</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="description" class="materialize-textarea" data-length=""></textarea>
                <label for="description">Description</label>
            </div>
        </div>
        <div class="row right">
            <button class="btn blue darken-4" type="submit" name="action">Submit</button>
        </div>
    </form>
</div>


{% endblock %}